@layer base {
  :root {
    --menus-spacing: 1rem;
    --menus-radius: 1.3rem;

    --content-spacing: 0.75rem;
    --content-radius: 0.5rem;

    --button-icon-size: 1.1rem;

    --scrollbar-width: 0px;

    --shell-sidebar-width-expanded: 16.5rem;
    --shell-sidebar-width-collapsed: 4.125rem;
    --shell-sidebar-gap: 0.75rem;
    --shell-sidebar-toggle-size: 2.625rem;
    --shell-sidebar-logo-height: 3.75rem;
    --shell-sidebar-logo-height-collapsed: 3.625rem;
    --shell-sidebar-section-gap: 0.125rem;
    --shell-sidebar-scroll-padding-bottom: 0.125rem;

    --topbar-margin-top: 0rem;
    --topbar-margin-left: 0.9375rem;
    --topbar-margin-right: 1rem;
    --topbar-height: 4rem;
    --topbar-radius: 1.25rem;
    --topbar-padding-x: 0.75rem;
    --topbar-home-offset: 0.75rem;
    --topbar-user-offset: 0.75rem;
    --topbar-home-button-size: 2.625rem;

    --user-info-gap: 0.75rem;
    --user-info-text-gap: 0.25rem;
    --user-avatar-size: 2.5rem;
    --user-avatar-radius: 0.5rem;

    --role-tag-height: 1.125rem;
    --role-tag-radius: 0.3125rem;
    --role-tag-border-width: 1px;
    --role-tag-padding-x: 0.625rem;

    --sidebar-category-padding-x: 0.375rem;
    --sidebar-category-gap: 0.75rem;
    --sidebar-category-collapsed-padding-x: 0.5rem;
    --sidebar-category-collapsed-padding-y: 0.5rem;
    --sidebar-category-expanded-inner-padding-top: 0.125rem;

    --icon-size-default: 1.125rem;
  }
}
