@layer base {
  :root {
    --menus-spacing: 1rem;
    --menus-radius: 1.3rem;

    --content-spacing: 0.75rem;
    --content-radius: 0.5rem;

    --button-icon-size: 1.1rem;

    --scrollbar-width: 0px;
  }
}