@layer base {
  :root {
    --scrollbar-width: 0px;
    --scrollbar-width-firefox: 0.375rem;
    --icon-size-default: 1.125rem;
    --icon-size-compact: 1rem;
    --interactive-size: 2.75rem;
    --separator-height: 1px;

    --shell-sidebar-width-expanded: 16.5rem;
    --shell-sidebar-width-collapsed: 4.25rem;
    --shell-sidebar-logo-height: 3.75rem;
    --shell-sidebar-logo-height-collapsed: 3.625rem;

    --topbar-height: 4rem;

    --user-avatar-size: 2.5rem;

    --role-tag-height: 1.125rem;

    --authentication-card-width: 28.75rem;
    --authentication-card-height: 18.4375rem;
    --authentication-card-header-height: 3.125rem;
    --authentication-brand-panel-size: 5rem;
    --authentication-utility-panel-width: 12.25rem;
    --authentication-utility-indicator-width: 5.75rem;
    --authentication-utility-indicator-height: 2.125rem;
  }
}
