@import "tailwindcss";
@import "./styles/colors.css";
@import "./styles/layout.css";
@import "./styles/typography.css";

@theme inline {
  --font-inter: var(--font-inter);

  /*            Colors            */
  --color-*: initial;

  /* Primary */
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  /* Neutral */
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-main-background: var(--main-background);
  --color-surface-background: var(--surface-background);
  --color-surface-outline: var(--surface-outline);
  --color-surface-subtle-background: var(--surface-subtle-background);
  --color-surface-subtle-background-hover: var(--surface-subtle-background-hover);
  --color-separator: var(--separator-color);
  --color-role-tag-outline: var(--role-tag-outline);
  --color-role-tag-background: var(--role-tag-background);
  --color-role-tag-text: var(--role-tag-text);

  /* Text */
  --color-text-100: var(--text-100);
  --color-text-250: var(--text-250);
  --color-text-500: var(--text-500);
  --color-text-750: var(--text-750);
  --color-text-900: var(--text-900);

  /* On-* */
  --color-on-primary: var(--on-primary);

  /*            Layout            */
  --radius-menus: var(--menus-radius);
  --radius-content: var(--content-radius);
  --spacing-menus: var(--menus-spacing);
  --spacing-content: var(--content-spacing);

  /* Testing */
  --color-red: #FF0000;
}

@layer base {
  :focus-visible {
    @apply inset-ring-2 inset-ring-primary-600;
  }
}
